@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}
/*头部开始*/
.shortcut {
    height:30px;
    line-height:30px;
    background-color:#F1F1F1;
    width:100%;
}
.fl{
    position:relative;
}
.shortcut .dt,
.shortcut .fore{
    padding:0 20px 0 10px;
    position:relative;
}
.dt i,
.fore i{
    font:400 15px/15px "宋体";
    position:absolute;
    top:12px;
    right:3px;
    width:15px;
    height:7px;
    overflow:hidden;
}
.dt s,
.fore s {
    position:absolute;
    top:-7px;
}
.shortcut .fr .line{
    width:1px;
    height:12px;
    margin-top:11px;
    padding:0;
    background-color:#DDDDDD;
}
.fr li {
    float:left;
    list-style:none;
    padding:0 10px;
}
.shortcut .tel-jd {
    padding:0 20px 0 25px;
}
.tel{
    position: absolute;
    width: 15px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat;
    left: 5px;
    top: 5px;
}
.topbanner {
    background-color: #8A25C6;
}
.tp{
    position:relative;
}
.close-banner{
    width:20px;
    height:20px;
    background:url("../images/close.png")no-repeat ;
    position:absolute;
    top:5px;
    right:5px;
}
.close-banner:hover{
    background-position: bottom;
}
/*还是头部*/
.clearfix{

}
.logo{
    float:left;
    width:360px;
    height:75px;
    padding-top:25px;
    position:relative;
}
.jd-a{
    display:block;
    width:270px;
    height:60px;
    background:url("../images/logo.png")no-repeat;
}
.jd-b {
    position:absolute;
    top:10px;
    right:10px;
}
.search {
    width:538px;
    float:left;
    padding-top:25px;
}
.search input{
    width:450px;
    height: 32px;
    border:2px solid #B61D1D;
    float:left;
    padding-left:4px;
    font:400 13px/32px "microsoft yahei";
}
.search button{
    width:80px;
    height:36px;
    float:left;
    background-color:#B61D1D;
    color:white;
    cursor:pointer;
}
.car{
    float:right;
    width:60px;
    height:34px;
    margin:25px 64px 0 0;
    line-height:34px;
    border:1px solid #DFDFDF;
    padding:0 37px 0 43px;
    position:relative;
}
.icon1{
    width:16px;
    height:13px;
    background:url("../images/sprite.png")no-repeat -1px -59px;
    position:absolute;
    left:10px;
    top:10px;
}
.icon2{
    font:700 13px/34px "simsun";
    position:absolute;
    top:0;
    right:15px;
}
.icon3{
    width:16px;
    height:14px;
    font-size:12px;
    line-height:14px;
    text-align:center;
    background-color:#B61D1D;
    position:absolute;
    top:-4px;
    right:25px;
    color:white;
    border-radius:8px 8px 8px 0;
}






